<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>
                    <%= detail.title %>
                </h3>
            </div>
        </div>

        <div class="card col-6 offset-2">
            <img src="<%= detail.image.url %>" class="card-img-top show-img" alt="listing_image">
            <br>
            <div class="card-body">
                <p style="font-style: italic;">
                    <b>Admin:</b> <%= detail.owner.username%>
                </p>
                <p class="card-text">
                    <b>About:</b>
                    <%= detail.description %><br>
                        <b>Price:</b> &#8377; <%= detail.price.toLocaleString("en-IN") %>/night<br>
                            <b>Location:</b>
                            <%= detail.location %><br>
                                <b>Country:</b>
                                <%= detail.country %>
                </p>
            </div>
        </div>

        <div class="row">

            <%if(currUser && detail.owner._id.equals(currUser._id)){%>
            <div class="col-1 offset-2">
                <button class="btn btn-dark">
                    <a href="/listings/<%= detail._id %>/edit"
                        style="text-decoration: none; color: white;">Edit</a>
                </button>
            </div>

            <div class="col-1">
                <form method="POST" action="/listings/<%= detail._id %>?_method=DELETE">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
            <% } %>
            <% if(currUser){%>
                <hr>
                <div class="col-8 offset-1">
                    <h3>Leave a review</h3>
                    <form method="POST" action="/listings/<%= detail._id %>/reviews" novalidate
                        class="needs-validation">
                        
                        <div>
                            <label for="no-rate" class="form-label">Rating:</label><br>
                            <fieldset class="starability-grow">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." required/>
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div>
                            <label for="comment" class="form-label">Comment:</label><br>
                            <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                            <div class="invalid-feedback">We kindly request you to add your experience in the comment
                                box!</div>
                        </div><br>
                        <button class="btn btn-dark">Submit</button>
                    </form>
            <%}%>
                    <hr>
                    <% if(detail.reviews.length >0){ %>
                    <p><b>All Reviews</b></p>
                    <div class="row" style="justify-content: center;">
                        <% for (i of detail.reviews) { %>
                            <div class="card col-5 ms-2" style="border: 2px solid black !important;">
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5 class="card-title" style="font-style:italic ;"><%=i.author.username%></h5>
                                        <%=i.comment%>
                                    </div>
                                    <p class="starability-result card-text" data-rating="<%=i.rating%>"></p>
                                </div>
                                <% if(currUser && i.author._id.equals(currUser._id)) {%>
                                <form class="mb-1" method="POST"
                                    action="/listings/<%=detail._id%>/reviews/<%=i._id%>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete Review</button>
                                </form>
                                <% }%>
                            </div>
                            <% } %>
                    </div>
                    <hr>
                    <% } %>
                </div>
                <div class="col-8 offset-1">
                    <h4>Where you'll be</h4>
                    <div id="map"></div>
                    <script>
                        const detail = <%-JSON.stringify(detail)%>;
                        let map_token = "<%= process.env.MAP_TOKEN %>";
                        mapboxgl.accessToken = map_token;
                        const map = new mapboxgl.Map({
                            container: 'map', // container ID
                            center: detail.geometry.coordinates, // starting position [lng, lat]. Note that lat must be set between -90 and 90
                            zoom: 9 // starting zoom
                        }); 
                  
                        const marker = new mapboxgl.Marker({color:'#fe424d'})
                            .setLngLat(detail.geometry.coordinates)
                            .addTo(map);


                    </script>
                </div>
        </div>
    </body>